@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
h1 {
    font-family: 'Open Sans', sans-serif;
    color: #67A1E0
}

h2 {
    font-family: 'Noto Serif', serif;
    color: #060e0d
}

p {
    font-size: 20px
}